<!-- www/views/address.html -->

<div class="text-center">
	<h1>Address</h1>
	<small class="text-muted">
  		Next, an adress so that your employer knows you're local.
	</small>
	<p>
	<div>
		<form>
		  <fieldset class="form-group">
		    <label for="formGroupExampleInput">Street Adress</label>
		    <input type="text" class="form-control" id="street" placeholder="">
		  </fieldset>
		  <fieldset class="form-group">
		    <label for="formGroupExampleInput2">City</label>
		    <input type="text" class="form-control" id="city" placeholder="">
		  </fieldset>
		  <button type="submit" class="btn btn-primary">Save</button>
		</form>
	</div>
</div>