<!-- www/views/address.html -->

<div class="text-center" >
	<h1>Contact Information</h1>
	<small class="text-muted">
  		Now your contact information, so that employers can get in touch.
	</small>
	<p>
	<div>
		<form>
		  <fieldset class="form-group">
		    <label for="formGroupExampleInput">Cell Phone</label>
		    <input type="text" class="form-control" id="phone" placeholder="">
		  </fieldset>
		  <fieldset class="form-group">
		    <label for="formGroupExampleInput2">Email</label>
		    <input type="text" class="form-control" id="city" placeholder="">
		  </fieldset>
		  <button type="submit" class="btn btn-primary">Review</button>
		</form>
	</div>
</div>