<!-- public/views/nerd.html -->

<div class="text-center" ng-controller="HeadingController">
	<h1>Letter Heading</h1>
	<small class="text-muted">
  		First we'll start with your cover letter's heading. Enter in your first and last name.
	</small>
	<p>
	<div>
		<form ng-submit="save()">
		  <fieldset class="form-group">
		    <label for="formGroupExampleInput">First Name</label>
		    <input type="text" class="form-control" id="firstname" placeholder="First Name">
		  </fieldset>
		  <fieldset class="form-group">
		    <label for="formGroupExampleInput2">Last Name</label>
		    <input type="text" class="form-control" id="lastname" placeholder="Last Name">
		  </fieldset>
		  <button type="submit" class="btn btn-primary">Save</button>
		</form>
	</div>
</div>