<div ng-controller="MainController">
        <div class="intro-header">
            <div class="container">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="intro-message">
                            <h1>CoverLetterBot</h1>
                            <h3>A Fast, Personalized Way to Build Cover Letters</h3>
                            <hr class="intro-divider">
                             <button type="button" class="btn btn-outline-inverse btn-lg" ng-click="getStarted()">Build a Cover Letter NOW</button>

                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>
        <!-- /.intro-header -->

        <!-- Page Content -->

      <a  name="services"></a>
        <div class="content-section-a">

            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Writer's Block?</h2>
                        <p class="lead">Let CoverLetterBot handle your phrasing and flow challenges. All you do is fill in the blanks.</p>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <img class="img-responsive" src="img/block.jpg" alt="">
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>
        <!-- /.content-section-a -->

        <div class="content-section-b">

            <div class="container">

                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Not An Aritist?</h2>
                        <p class="lead">With CoverLetterBot choose from a selection of gorgeous templates</p>
                    </div>
                    <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                        <img class="img-responsive" src="img/letter.png" alt="">
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>
        <!-- /.content-section-b -->

        <div class="content-section-a">

            <div class="container">

                <div class="row">
                    <div class="col-lg-5 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Build and download on your mobile phone</h2>
                        <p class="lead">Have your cover letter everywhere you go.</p>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <img class="img-responsive" src="img/phones.png" alt="">
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>
        <!-- /.content-section-a -->

      <a  name="contact"></a>
        <div class="banner">

            <div class="container">

                    <div class="row">
                        <h3>Don't be embarassed by bad writting.</h3>
                            <div class="row">
                             <button type="button" class="btn btn-outline-inverse btn-lg">
                            Get Started
                            </button>

                      </div>
                </div>

            </div>
            <!-- /.container -->

        </div>
        <!-- /.banner -->

</div>